/* ani1은 왼쪽에서 오른쪽으로 나타나는 애니메이션 */
.ani1{
    opacity: 0;
    transition: all 1s ease 0s;
    transform: translateX(-20px);
}

.ani1.on{
    opacity: 1;
    transform: translateX(0);
}


/* ani2는 제자리에서 뿅 나오는 애니메이션 */
.ani2{
    opacity: 0;
    transition: all 0.8s ease 0s;
    transform: scale(0.8);
}

.ani2.on{
    opacity: 1;
    transform: scale(1);
}


/*블러처리 되었다가 스르륵 나오는거*/
.ani3{
    opacity: 0;
    transition: all 1s ease 0s;
    transform: translateX(-20px);
    filter: blur(5px);
}

.ani3.on{
    opacity: 1;
    transform: translateX(0);
    filter: blur(0px);
}

.poster-list > li:nth-child(1).ani1 { transition-delay: 0.1s; }
.poster-list > li:nth-child(2).ani1 { transition-delay: 0.25s; }
.poster-list > li:nth-child(3).ani1 { transition-delay: 0.4s; }
.poster-list > li:nth-child(4).ani1 { transition-delay: 0.55s; }
.poster-list > li:nth-child(5).ani1 { transition-delay: 0.7s; }

.poster-list > li:nth-child(1).ani3 { transition-delay: 0s; }
.poster-list > li:nth-child(2).ani3 { transition-delay: 0s; }
.poster-list > li:nth-child(3).ani3 { transition-delay: 0s; }
.poster-list > li:nth-child(4).ani3 { transition-delay: 0s; }
.poster-list > li:nth-child(5).ani3 { transition-delay: 0s; }